# LinuxServer.io image tag. Use a versioned tag when you need reproducible updates.
FRESHRSS_IMAGE_TAG=latest

FRESHRSS_CONTAINER_NAME=freshrss
FRESHRSS_CONFIG_PATH=./freshrss-config
FRESHRSS_PORT=8080

# LinuxServer.io runtime user/group settings.
PUID=1000
PGID=1000
TZ=Etc/UTC
