# Pin the broker image to a known release for reproducible updates.
MOSQUITTO_IMAGE_TAG=2.1.2-alpine

MOSQUITTO_CONTAINER_NAME=mosquitto
MOSQUITTO_MQTT_PORT=1883
MOSQUITTO_CONFIG_PATH=./mosquitto-config
MOSQUITTO_DATA_PATH=./mosquitto-data
MOSQUITTO_LOG_PATH=./mosquitto-log
